
h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

img {
    width: 75%;
    margin-bottom: 5rem;
}
body {
    font-size: 2rem;
}

div {
    text-align: center;
    margin-bottom: 100rem;
    border: 1px thin black;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body.gift:hover {
font-weight: bold;
font-size: 50rem;

}
